# MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/<dbname>?retryWrites=true&w=majority&appName=<cluster-name>
# JWT_SECRET=your-jwt-secret
# PORT=3000
# GOOGLE_CLIENT_ID=your-google-client-id
# GOOGLE_CLIENT_SECRET=your-google-client-secret
# FRONTEND_URL=http://localhost:5173
# CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
# CLOUDINARY_API_KEY=your-cloudinary-api-key
# CLOUDINARY_API_SECRET=your-cloudinary-api-secret
# CLOUDINARY_UPLOAD_PRESET=your-upload-preset
# CLOUDINARY_UPLOAD_FOLDER=your-upload-folder
MONGO_URI=mongodb+srv://Vipulyadav:yadav%40123456@notes-cluster.civjyyt.mongodb.net/notesdb?retryWrites=true&w=majority&appName=notes-cluster
JWT_SECRET=your_jwt_secret
PORT=3000
GOOGLE_CLIENT_ID=28604021907-l92sk446e4hk5uirkadrrvcglnf0gv01.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=daefnk9rw
CLOUDINARY_API_KEY=154599796612515
CLOUDINARY_API_SECRET=8la91lqi-hlmKj1NdlQXEHhyBbM
CLOUDINARY_UPLOAD_PRESET=notes_raw_preset
CLOUDINARY_UPLOAD_FOLDER=notesSharingFiles
RESEND_API_KEY=re_aN3Bemfw_28rH7T4UTgBGhnpmSp2mSLwQ
BACKEND_URL=http://localhost:3000



